<h1 class="text-center mb-3"><%= recipe.name %></h1>
<div class="row">
  <div class="col">
    <% unless recipe.preparation_time.nil? || recipe.preparation_time.empty? %>
      <p class="mb-2">
        <strong>Preparation time: </strong><%= recipe.preparation_time %>
      </p>
    <% end %>
    <% unless recipe.cooking_time.nil? || recipe.cooking_time.empty? %>
      <p class="mb-2">
        <strong>Cooking time: </strong><%= recipe.cooking_time %>
      </p>
    <% end %>
  </div>
  <% if can? :manage, @recipe %>
    <div class="col d-flex justify-content-end form-check form-switch">
      <label class="form-check-label pe-5 me-3 fs-5" for="public_switch"
        >Public</label
      >
      <input
        class="form-check-input fs-4"
        type="checkbox"
        role="switch"
        id="public_switch"
        <%= recipe.public && 'checked' %>
        disabled
      />
    </div>
  <% end %>
</div>
<p class="mb-4"><%= recipe.description %></p>
<% if can? :manage, @recipe %>
  <div
    class="row row-cols-auto mx-0 justify-content-between pb-3 border-bottom"
  >
    <%= button_to "Generate shopping list", general_shopping_list_index_path, params: { recipe_id: recipe.id }, method: :get, class: "btn btn-primary" %>
    <%= button_to "Add ingredient", new_recipe_food_path, params: { recipe_id: recipe.id }, method: :get, class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table table-light table-striped table-layout-fixed mt-4">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <% if can? :manage, @recipe %>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% recipe.recipe_foods.includes(:food).each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.measured_quantity %></td>
        <td><%= recipe_food.value %></td>
        <% if can? :manage, @recipe %>
          <td>
            <div class="row row-cols-auto mx-0 g-0">
              <%= button_to "Modify", "", method: :get, class: "btn btn-link p-0 pe-2", disabled: true %>
              <%= button_to "Remove", recipe_food, method: :delete, class: "btn btn-link p-0" %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
