<div
  class="container mx-auto rounded p-4"
  style="width: max-content;"
  id="<%= dom_id food %>"
>
  <h3>
    <strong>Name:</strong>
    <%= food.name %>
  </h3>

  <p>
    <strong>Measurement unit:</strong>
    <%= food.measurement_unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= food.quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= food.user_id %>
  </p>
</div>
